body {
  display: flex;
  justify-content: center;
  background-image: url(https://i.pinimg.com/564x/16/d3/92/16d39236c4c63867be0dadb463f546ea.jpg);
}
.menu {
  border: 10px dashed rgb(191, 241, 134);
  border-radius: 5vh;
  width: 80vw;
  height: 97vh;
  position: fixed;
  display: flex;
  flex-direction: column;
}

.div1 {
  padding-right: 40px;
  background-color: rgb(224, 224, 224);
  border-radius: 4.5vh 4.5vh 0 0;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  background-image: url(images/log1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 300px;
}
.buton {
  width: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 60px;
}
a {
  color: rgb(238, 118, 148);
  text-decoration: none;
}
a:hover {
  color: black;
}
.div2 {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  height: 90%;
  position: fixed;
  width: 80vw;
  height: 86.4vh;
  border: 10px #c46c39 solid;
  box-sizing: border-box;
}

.in1 {
  background-color: #c46c39;
  border-radius: 0 0 0 4.5vh;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.bu {
  border-radius: 10px;
  border: 5px rgb(80, 82, 204) dashed;
  background-color: rgb(255, 223, 238);
  height: 100px;
  width: 150px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.in2 {
  background-color: rgb(231, 198, 204);
  flex-grow: 6;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border-radius: 0 0 4.5vh 0;
}
.in2::-webkit-scrollbar {
  display: none;
}
.mn {
  display: flex;
  flex-direction: row;
  height: 410px;
}
.img {
  background-color: rgb(230, 230, 230);
  width: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.5s ease;
}
.img:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-out;
}
.img1 {
  background-image: url(images/cake.png);
}
.img2 {
  background-image: url(images/icecream.png);
}
.img3 {
  background-image: url(images/drinks.png);
}
.img4 {
  background-image: url(images/coffee.png);
}
.li {
  font-size: 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
